@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Lato:wght@300&family=Pacifico&family=Poppins:wght@300&family=Redressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');
body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
  }

.home{
  background-color: #300c47;
 
}
.home h2{
  color: #f6f6f6;
  position: relative;
  left: 450px;
  font-family: 'Slabo 27px', serif;
  font-weight: 600;
}
.bar{
  background-color: #d8cedf;
  display: flex;
}
.bar a{
  color: #300c47;
  display:inline-block;
  text-decoration: none;
  font: 1em sans-serif;
  font-weight: 600;
}
.bar a:hover{
  text-decoration: underline;
  color: #6e5353;
}
.navbar .navbar-brand a{
  padding: 0.5rem 0;
  display: block;
  text-decoration: none;
  font-size: 1.8rem
}
.navbar-brand{
  font-family: 'Pacifico', cursive;
  font-size: 1.5rem;
  
}





  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    min-height: 100%;
    padding: 20px;
  }
  #formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: rgb(243, 239, 239);
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    
    text-align: center;
  }   
 .wrapper h3{
    font-family: 'Times New Roman', Times, serif;
 }
  h2.inactive {
    color: #cccccc;
  }
  
  h2.active {
    color: #0d0d0d;
    border-bottom: 2px solid #5fbae9;
  }
 
   /* FORM TYPOGRAPHY*/
  
   input[type=button], input[type=submit], input[type=reset]  {
    background-color: #56baed;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    
   }
   input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
    background-color: #39ace7;
  }
  
  input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }
  
  input[type=text] {
    background-color: white;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  } 
  input[type=text]:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
  }
  
  input[type=text]:placeholder {
    color: #cccccc;
  }
 
  .underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #56baed;
    content: "";
    transition: width 0.2s;
  }
  input[type=password] {
    background-color: white;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  } 
  input[type=password]:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
  }
  
  input[type=password]:placeholder {
    color: #cccccc;
    text-align: center;
  }

  /*records*/
  #main-content h2{
    font-size: 60px;
    font-family: 'Gideon Roman', cursive;
    padding-left: 400px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: rgb(63, 23, 82);
  }
  table{
    width: 70%;
    padding: 40px;
    border:1px solid black;
    margin-left:auto;
    margin-right:auto;
  
  }
  #content h2{
    font-size: 60px;
    font-family: 'Gideon Roman', cursive;
    padding-left: 500px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: rgb(63, 23, 82);
  }

  /*gallery*/
.upload-image{
  margin: 100px;
}
  .upoad-image input[type=file] {
position: relative;
left: 45%;
}
 